# Valeurs fictives uniquement. Copier ce fichier vers secrets.env puis chmod 600 secrets.env.

SNMP_V2_COMMUNITY='FAKE_COMMUNITY'
SNMP_V3_USER='fake_snmp_user'
SNMP_V3_AUTH_PASS='FAKE_AUTH_PASSWORD'
SNMP_V3_PRIV_PASS='FAKE_PRIV_PASSWORD'

APP_USER='fake_api_user'
APP_PASSWORD='FAKE_API_PASSWORD'

VEEAM_USER='DOMAIN\\fake_monitoring_user'
VEEAM_PASSWORD='FAKE_VEEAM_PASSWORD'
